<!DOCTYPE html>
<html>
<head>
    <title>Decode Message</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Decode Hidden Message</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <button type="submit">Decode</button>
    </form>

    <h3>Hidden Message:</h3>
    <p>{{ message }}</p>

    <a href="/">Back</a>
</div>

</body>
</html>
